// @font-face {
//   font-family: "Arial-Bold";
//   font-weight: 700;
//   font-style: normal;
//   src: url("../fonts/Arial-Bold.woff2") format("woff2"),
//     url("../fonts/Arial-BoldMT.woff") format("woff");
// }

// @font-face {
//     font-family: "Arial-Regular";
//     font-weight: 400;
//     font-style: normal;
//     src: url("../fonts/Arial-Regular.woff2") format("woff2"),
//       url("../fonts/Arial-RegularMT.woff") format("woff");
//   }

  @font-face {
    font-family: "MyriadPro-Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/MyriadPro-Bold.woff2") format("woff2"),
      url("../fonts/MyriadPro-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "MyriadPro-Regular";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"),
      url("../fonts/MyriadPro-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Raleway-Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
      url("../fonts/Raleway-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Raleway-Medium";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Raleway-Medium.woff2") format("woff2"),
      url("../fonts/Raleway-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "Raleway-Regular";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
      url("../fonts/Raleway-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "SourceSansPro-Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"),
      url("../fonts/SourceSansPro-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "SourceSansPro-Regular";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"),
      url("../fonts/SourceSansPro-Regular.woff") format("woff");
  }