@import '_settings';
@import '_normalize';
@import '_fonts';
@import './blocks/_header';
@import './blocks/explore';
@import './blocks/describe';




body{
    min-width: 320px;
    overflow-x: hidden;
    font-family: "SourceSansPro-Regular", "Arial", "Sans-Serif";
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}