@import "../vars";
@import "../fonts";

.explore {
  padding: 23px 0 47px 0;
  //   &__information {
  //     // margin-top: 23px;
  //   }
  &__page {
    margin: 31px auto 0 auto;
  }
}
@media (min-width: 640px) {
  .explore {
    padding: 47px 0 65px 0;
    &__information {
      width: 442px;
      margin: 0 auto;
    }
    &__page {
      margin: 66px auto 0 auto;
    }
  }
}
@media (min-width: 768px) {
  .explore {
    padding: 49px 0 63px 0;
    &__information {
      margin: 0 auto;
    }
    &__page {
      margin: 66px auto 0 auto;
    }
  }
}

@media (min-width: 1024px) {
  .explore {
    padding: 49px 0 100px 0;
    &-grid {
      display: flex;
      flex-direction: row-reverse;
    }
    &__information {
      margin: 0;
    }
    &__page {
      margin: 49px 27px 0 0;
    }
  }
}

@media (min-width: 1280px) {
  .explore {
    padding: 101px 0 100px 0;
    &-grid {
      justify-content: center;
    }
    &__information {
      margin: 7px 0 0 0;
    }
    &__page {
      margin: 0 64px 0 0;
    }
  }
}

.information {
  &__title {
    position: relative;
    display: block;
    margin-left: 11px;
    font-family: "Raleway-Medium";
    font-weight: 500;
    font-size: 34.9944px;
    line-height: 50px;
    color: #323232;
    &::after {
      content: "";
      position: absolute;
      width: 68px;
      height: 1px;
      background-color: $mainblue;
      left: 3px;
      top: 52px;
    }
  }
  &__text {
    margin: 22px 0 23px 11px;
    font-family: "SourceSansPro-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #727272;
  }
  &__facts {
    margin-bottom: 23px;
  }
}

@media (min-width: 640px) {
  .information {
    &__title {
      margin-left: 0;
      &::after {
        left: 1px;
        top: 62px;
      }
    }
    &__text {
      margin: 44px 0 36px 0;
    }
    &__facts {
      margin-bottom: 37px;
    }
  }
}
@media (min-width: 1280px) {
  .information {
    &__title {
      font-size: 35px;
    }
    &__text {
      margin: 63px 0 47px 0;
    }

    &__facts {
        &:first-child{
            margin-bottom: 48px;
        }
      margin-bottom: 0;
    }
  }
}
.facts {
  display: flex;
  &__icon {
    min-width: 34px;
    height: 36px;
    margin: 6px 19px 0 0;
    background-color: $mainblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }
  &__info {
    &-title {
      font-family: "Raleway-Bold";
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      color: #323232;
    }
    &-text {
      margin: 7px 0 0 0;
      font-family: "SourceSansPro-Regular";
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #727272;
    }
  }
}

.page {
  width: 298px;
  height: 230px;
  background-color: $pagegray;
  border-radius: 2px;
  &-container {
    padding: 0 9px;
  }
  &__points {
    padding-top: 8px;
    display: flex;
    &-item {
      margin-right: 2px;
      width: 9px;
      height: 9px;
      border-radius: 50px;
      background-color: #fff;
    }
  }
  &__string {
    display: flex;
    align-items: center;
    margin-top: 6px;
    &-arrowback {
      width: 7px;
      height: 12px;
      fill: $pageelem;
      margin-right: 7px;
    }
    &-arrowfuture {
      width: 7px;
      height: 12px;
      fill: $pageelem;
      margin-right: 14px;
    }
    &-refresh {
      width: 13px;
      height: 12px;
      fill: $pageelem;
      margin-right: 13px;
    }
    &-adress {
      width: 218px;
      height: 16px;
      background-color: #ffffff;
    }
  }
  &__site {
    margin-top: 9px;
    width: 279px;
    height: 172px;
    background: #fff;
    &-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
@media (min-width: 640px) {
  .page {
    width: 447px;
    height: 347px;
    &__string {
      &-adress {
        width: 358px;
      }
    }
    &__site {
      margin-top: 9px;
      width: 419px;
      height: 288px;
    }
  }
}

@media (min-width: 1024px) {
  .page {
    width: 443px;
    height: 347px;
    &__site {
      height: 286px;
    }
  }
}
@media (min-width: 1280px) {
  .page {
    width: 532px;
    height: 424px;
    &__points {
      padding-top: 7px;
      &-item {
        margin-right: 2px;
        width: 7px;
        height: 7px;
      }
    }
    &__string {
      &-adress {
        width: 452px;
        height: 14px;
      }
    }
    &__site {
      margin-top: 10px;
      width: 514px;
      height: 372px;
    }
  }
}
