@import "../vars";
@import "../fonts";

.top {
  background-image: url("/img/main-section.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  //   min-height: 819px;
}
.container {
  padding: 0 11px 22px 11px;
}
.main-section {
  //   min-height: 819px;
  background: rgba(0, 0, 0, 0.8);
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
  }
  &__info {
    margin-top: 20px;
  }
}
@media (min-width: 640px) {
  .container {
    padding: 0 62px 38px 62px;
  }
  .main-section {
    &__header {
      padding-top: 39px;
    }
    &__info {
      margin-top: 18px;
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 0 55px 0;
    max-width: 646px;
    margin: auto;
  }
  .main-section {
    &__header {
      padding-top: 40px;
    }
    &__info {
      margin-top: 18px;
    }
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 0 156px 0;
    max-width: 898px;
    position: relative;
  }
  .main-section {
    &__header {
      padding-top: 50px;
    }
    &__info {
      margin-top: 108px;
    }
  }
}
@media (min-width: 1280px) {
  .container {
    padding: 0 0 208px 0;
    max-width: 1143px;
  }
  .main-section {
    &__info {
      margin-top: 166px;
    }
  }
}

.info {
  &__title {
    display: block;
    font-family: "Raleway-Bold";
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
    text-align: center;

    color: #ffffff;

    &-another {
      display: block;
      color: $mainblue;
    }
  }
  &__text {
    margin: 20px 0 27px 0;
    color: #ffffff;
    text-align: center;
    font-family: "SourceSansPro-Regular";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: 640px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      display: block;
      width: 377px;

      &-another {
        display: inline;
      }
    }
    &__text {
      padding: 0 10px;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 768px) {
  .info {
    &__title {
      width: 400px;
      font-size: 38px;
    }
    &__text {
      margin-bottom: 10px;
    }
  }
}
@media (min-width: 1024px) {
  .info {
    &__title {
      width: 100%;
      font-size: 45px;
      font-family: "Raleway-Medium";
      font-weight: 500;
      line-height: 60px;
    }
    &__text {
      padding: 0;
      max-width: 679px;
      margin-bottom: 69px;
      font-family: "SourceSansPro-Regular";
      font-weight: 400;
      font-size: 20px;
    }
  }
}
@media (min-width: 1280px) {
  .info {
    &__text {
      max-width: 679px;
      margin-top: 45px;
      margin-bottom: 71px;
      padding: 0;
    }
  }
}
.social-icon-img {
  width: 25px;
  background-color: #fff;
}

.feedback {
  padding: 13px 0 25px 0;
  background: rgba(0, 0, 0, 0.4);

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
    &-name {
      padding: 16px 0 11px 23px;
      margin-bottom: 19px;
      min-width: 217px;
      font-family: "SourceSansPro-Regular";
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      align-items: center;
      color: #ffffff;
      background-color: #000;
      outline: none;
      box-shadow: -3px 0 0 #0199e6;
      border: 1px solid rgba(1, 153, 230, 0.3);
      border-radius: 2px;
    }
    &-email {
      margin-bottom: 19px;
      padding: 16px 0 11px 23px;
      margin-bottom: 19px;
      min-width: 217px;
      font-family: "SourceSansPro-Regular";
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      align-items: center;
      color: #ffffff;
      background-color: #000;
      outline: none;
      box-shadow: -3px 0 0 #0199e6;
      border: 1px solid rgba(1, 153, 230, 0.3);
      border-radius: 2px;
    }
    &-phone {
      padding: 16px 0 11px 23px;
      margin-bottom: 19px;
      min-width: 217px;
      font-family: "SourceSansPro-Regular";
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      align-items: center;
      color: #ffffff;
      background-color: #000;
      outline: none;
      box-shadow: -3px 0 0 #0199e6;
      border: 1px solid rgba(1, 153, 230, 0.3);
      border-radius: 2px;
    }
    &-btn {
      margin-top: 26px;
    }
  }
  &__action {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    font-family: "SourceSansPro-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    &-arrow {
      position: relative;
      bottom: 6px;
      left: 8px;
    }
  }
}
@media (min-width: 640px) {
  .feedback {
    padding: 15px 0 20px 0;
    &__form {
      &-name {
        margin-bottom: 22px;
      }
      &-email {
        margin-bottom: 22px;
      }
      &-phone {
        margin-bottom: 22px;
      }
    }
  }
}
@media (min-width: 768px) {
  .feedback {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__form {
      width: 407px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 10px;
      &-name {
        display: block;
        padding: 10px 0;
        margin-bottom: 28px;
        min-width: 146px;
        text-align: center;
        line-height: 24px;
      }
      &-email {
        display: block;
        padding: 10px 0;
        margin-bottom: 28px;
        min-width: 146px;
        text-align: center;
        line-height: 24px;
      }
      &-phone {
        margin-bottom: 0;
        display: block;
        padding: 10px 0;
        min-width: 146px;
        text-align: center;
        line-height: 24px;
      }
      &-btn {
        align-self: start;
        margin: 0px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .feedback {
    padding: 25px 0 22px 0;
    &__form {
      margin-bottom: 0;
      width: 100%;
      justify-content: space-around;
      &-name {
        min-width: 217px;
        padding: 14px 0 10px 23px;
        margin-bottom: 0;
        text-align: left;
        line-height: 28px;
      }
      &-email {
        min-width: 217px;
        padding: 14px 0 10px 23px;
        margin-bottom: 0;
        text-align: left;
        line-height: 28px;
      }
      &-phone {
        min-width: 217px;
        padding: 14px 0 10px 23px;
        margin-bottom: 0;
        text-align: left;
        line-height: 28px;
      }
    }
    &__action {
      position: absolute;
      top: 500px;
      right: 140px;
    }
  }
}
@media (min-width: 1280px) {
  .feedback {
    max-width: 944px;
    margin: 0 auto;
    &__form {
      &-name {
        min-width: 214px;
      }
      &-email {
        min-width: 214px;
      }
      &-phone {
        min-width: 214px;
      }
    }
    &__action {
      top: 600px;
      right: 248px;
    }
  }
}

.btn {
  display: block;
  padding: 0;
  min-width: 187px;
  min-height: 57px;
  background-color: #008ed6;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-family: "Raleway-Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .btn {
    min-width: 151px;
    min-height: 45px;
  }
}
@media (min-width: 1024px) {
  .btn {
    min-width: 187px;
    min-height: 54px;
  }
}
@media (min-width: 1280px) {
  .btn {
    min-width: 184px;
  }
}
